/* @import '~antd/dist/antd.css'; */
* { padding: 0; margin: 0; }

body {
  background-color:#f0f2f5!important;
}
.App {
  /* text-align: center; */
}
.breadcrumb, .admin .menu {
  text-align: center;
}
.student .menu-card {
  text-align: center;
  border-radius: 4px;
  
}

.student .menu-card .ant-card-body {
  background-color: #f0f2f5!important;

} 
.student .menu-card .icon {
  font-size: 4em;
  color: #1890ff;
} 
.app-header {
  box-shadow: 0 2px 8px #00000017;
  background: white!important;
  text-align: right;
}

.app-header .user-dropdown {
  font-size: 1.2em;
  color:#585f66 !important;
}

.app-header .user-icon {
  position: relative;
  font-size: 1.3em;
  top: 4px;
  margin-right: 12px; 
}

.creatr-logo {
  font-size: 1.8em;
  font-weight: 500;
  font-family: verdana;
  color:#1890ff;
}

.editor.quill {
  border: unset !important;
  border: 1px solid #e8e8e8 !important;
  border-radius: 4px;
  height: 100%;
}
.ql-toolbar.ql-snow {
  border: unset !important;
  border-bottom: solid 1px #e8e8e8!important;
}
.ql-container.ql-snow  {
  border: unset !important;
}
.ql-editor {
  min-height: 40vh;
}
.editor-body {
  padding: 0 20px;
}

.editor-toolbar {
  border: unset !important;
  border-bottom: 1px solid #F1F1F1!important;
}

.login-form {
  /* max-width: 300px; */
  text-align: left;
}
.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.home .tabs{
  text-align: center;
}

.login-form .submit-failed {
  color:red;
}